<form [formGroup]="loginForm" fxLayout="column" class="full-width-form">

  <mat-form-field [hideRequiredMarker]="true">
    <input matInput placeholder="Email" formControlName="emailControl" required id="email">
    <mat-error *ngIf="!loginForm.controls.emailControl.valid">{{ emailErrorMessage }}</mat-error>
  </mat-form-field>

  <ng-container *ngIf="passwordlessLogin">
    <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="submit()" id="submit-link">Email me a Login Link!</button>
    <div class="margin-md-top text-center">
      <button mat-button (click)="togglePasswordlessLogin()">I'd prefer to use my password instead</button>
    </div>
  </ng-container>

  <ng-container *ngIf="!passwordlessLogin">
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput placeholder="Password" formControlName="passwordControl" [type]="hidePassword ? 'password' : 'text'" [required]="!passwordlessLogin"
             id="password">
      <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="clickable">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      <mat-error *ngIf="!loginForm.controls.passwordControl.valid">{{ passwordErrorMessage }}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="submit()" id="submit-password">Log In</button>
    <div class="margin-md-top text-center">
      <button mat-button (click)="reload()" id="toggle">Never mind, I would prefer a login link</button>
    </div>
  </ng-container>

  <div *ngIf="error" class="text-center text-warn text-md margin-sm-top margin-md-bottom">
    <span>{{ error.message }}</span>
  </div>
</form>
