<div class="entry">
    <div class="body">
        <p>Your CarbonOS account has been locked, perhaps due to too many login attempts.</p>

        <p>Perhaps you'd like to <a href="<%= baseUrl %>/api/v1.0/auth/reset-password?e=<%= email %>&t=<%= emailToken %>" target="_blank">reset your password!</a></p>
    </div>
</div>