<table style="width:100%" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
    <tr>
        <td></td>
        <td style="width:856px" align="center" valign="top">

            <table style="width:100%;background:none 0% 0% repeat scroll #ffffff" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td></td>
                    <td align="center" valign="top">
                        <table style="background:none 0% 0% repeat scroll #ffffff;width:700px" align="center" cellspacing="0" cellpadding="0" border="0" width="700">
                            <tbody>
                            <tr>
                                <td style="padding-top:35px;padding-bottom:35px;width:700px" align="left" valign="middle">
                                    <a href="<%= baseUrl %>/" style="text-decoration:none" target="_blank"
                                       data-saferedirecturl="https://www.google.com/url?q=<%= baseUrl %>/&amp;source=gmail&amp;ust=1535710920837000&amp;usg=AFQjCNHUnnMWUyb9iHmffbzZxelM7M9EdA">
                                        <img style="display:block;outline:none medium;text-decoration:none;border:medium none" alt="CarbonOS" title="CarbonOS"
                                             src="<%= baseUrl %>/assets/carbon-os-sm.png" height="31">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>

            <table style="width:100%;background:none 0% 0% repeat scroll #ffffff" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td></td>
                    <td style="padding-top:0px;padding-bottom:20px" align="center" valign="top">
                        <table style="width:700px;table-layout:auto" align="center" cellspacing="0" cellpadding="0" border="0" width="700">
                            <tbody>
                            <tr>
                                <td style="font-family:'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:14px;line-height:21px;color:#505151;text-align:left;padding-bottom:12px">
                                    Welcome to CarbonOS!
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:14px;line-height:21px;color:#505151;text-align:left;padding-bottom:12px">
                                    To log in to our system, please copy the link below and paste it in your browser
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:14px;line-height:21px;color:#505151;text-align:left;padding-bottom:12px">
                                    <span style="display:inline;height:18px"><a href="<%= baseUrl %>/a/jwt?e=<%= email %>&amp;t=<%= emailToken %>&amp;r=<%= redirectUrl %>" target="_blank" data-saferedirecturl="https://www.google.com/url?q=<%= baseUrl %>/a/jwt?e=<%= email %>&amp;t=<%= emailToken %>&amp;r=<%= redirectUrl %>&amp;source=gmail&amp;ust=1535710920837000&amp;usg=AFQjCNEkik6r7Askqn-3NCpBFBCo13rGnA"><%= baseUrl %>/a/jwt?e=<%= email %>&amp;t=<%= emailToken %>&amp;r=<%= redirectUrl %></a></span></td>
                            </tr>
                            <tr>
                                <td style="font-family:'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:14px;line-height:21px;color:#505151;text-align:left;padding-bottom:12px">
                                    NOTE: The link will be valid within the next 28 days.
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:14px;line-height:21px;color:#505151;text-align:left;padding-bottom:5px">
                                    Best wishes,<br>
                                    The CarbonOS Team
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:14px;line-height:21px;color:#505151;text-align:left;padding-bottom:20px">
                                    <a href="<%= baseUrl %>/n/contact" style="color:#008ac3;text-decoration:none" target="_blank"
                                       data-saferedirecturl="https://www.google.com/url?q=<%= baseUrl %>/n/contact&amp;source=gmail&amp;ust=1535710920837000&amp;usg=AFQjCNHIcYRBOSUoGtsNg1AH6s913kp6XA"><img
                                                src="https://ci3.googleusercontent.com/proxy/Xgpj11dJARgBMg1QgkuKXgQMbbxDCSrlVbbEpbw_GWFENtDIP_jtsg_ezSl-Em9kZFKDHLPn0kwusWOueRQJkkLeNwA3EyLd89x6B1Ud0xq2hA=s0-d-e1-ft#<%= baseUrl %>/assets/email.png"
                                                alt="mail" valign="top" style="border:medium none" height="20" width="18"> Contact Us</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>

        </td>
        <td></td>
    </tr>
    </tbody>
</table>
<table style="width:100%" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
    <tr>
        <td>&nbsp;</td>
        <td style="width:856px" align="center" valign="top">
            <table cellspacing="0" cellpadding="0" border="0" width="856">
                <tbody>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td style="padding-top:30px" align="center" valign="top">
                        <table align="center" cellspacing="0" cellpadding="0" border="0" width="700">
                            <tbody>
                            <tr>
                                <td style="color:#cdcdcd;font-family:tahoma,arial,sans-serif;font-size:12px;line-height:14px;padding-bottom:18px" align="left"
                                    valign="middle"><a style="text-decoration:none;color:#008ac3" href="<%= baseUrl %>/n/terms-of-service" target="_blank"
                                                       data-saferedirecturl="https://www.google.com/url?q=<%= baseUrl %>/n/terms-of-service&amp;source=gmail&amp;ust=1535710920837000&amp;usg=AFQjCNHqhYFn_sm9Z2iF4dDbkqGZ8iuOLA">Terms
                                        of Service</a> | <a style="text-decoration:none;color:#008ac3" href="<%= baseUrl %>/n/privacy-policy" target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?q=<%= baseUrl %>/n/privacy-policy&amp;source=gmail&amp;ust=1535710920837000&amp;usg=AFQjCNGIhKMgV0OTy0RNVGcQyXXe5PMjbA">Privacy
                                        Policy</a></td>
                            </tr>
                            <tr>
                                <td style="color:#777777;font-family:tahoma,arial,sans-serif;font-size:12px;line-height:14px;padding-bottom:18px" align="left"
                                    valign="middle">CarbonOS and certain product names used herein are trademarks or registered trademarks of CarbonOS Software and/or
                                    one of its subsidiaries or affiliates in the U.S. and/or other countries. Any other trademarks contained herein are the property of
                                    their respective owners.
                                </td>
                            </tr>
                            <tr>
                                <td style="color:#777777;font-family:tahoma,arial,sans-serif;font-size:12px;line-height:14px;padding-bottom:18px" align="left"
                                    valign="middle">Copyright © 2018 CarbonOS Software and/or its subsidiaries or affiliates. All rights reserved.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table style="width:700px;table-layout:auto;padding-bottom:30px;padding-top:30px" align="center" cellspacing="0" cellpadding="0" border="0"
                               width="700">
                            <tbody>
                            <tr>
                                <td align="center">
                                    <a style="text-decoration:none" href="https://twitter.com/os_carbon" target="_blank"
                                       data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/os_carbon&amp;source=gmail&amp;ust=1535710920837000&amp;usg=AFQjCNEVaJDcZ94AeVEmbyHnBIKMCQIrjw">
                                        <img style="border-width:0px;border-style:solid;vertical-align:middle" alt="Twitter"
                                             src="https://ci3.googleusercontent.com/proxy/-lycbGybU1eg3lb1xtRLdFOpc6QWgHuH9aSGD0Fo4K8lH51LBa0_yKj0xGlY8z_fkJ_RH4C8yU7k0A4Bm7X1shuirT6-rF4yucdXEBDow-QZ5Qvu=s0-d-e1-ft#<%= baseUrl %>/assets/twitter.png">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>