<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
  <div class="panel-no-border" fxFlex>
    <div class="panel-header text-center">
      Welcome to CarbonOS
    </div>
    <div class="panel-body text-center">
      <div class="text-center margin-md-top margin-md-bottom">
        <button mat-button (click)="routeToSecuritySettings()" color="accent">Set a password</button>
      </div>

      <div class="text-center margin-md-top margin-md-bottom">
        <button mat-button (click)="routeToHome()" color="accent">See the Demo</button>
      </div>

      <div class="text-center margin-md-top margin-md-bottom">
        <button mat-button color="primary">Invite your friends</button>
      </div>
    </div>
    <div class="panel-footer text-center">
      <mat-icon>fingerprint</mat-icon>
    </div>
  </div>
</div>
