<div class="panel height-70">
  <div class="panel-header">
    <div fxLayout="row" fxLayoutAlign="center space-between">
      <div>Ready to evaluate some voices!</div>
      <div class="flex-spacer"></div>
      <app-file-input (select)="addToFiles($event)" label="Upload Wav Files" [accept]="allowedFileTypes"></app-file-input>
      <span *ngIf="predictions && predictions.length" style="margin-left:20px"><button mat-raised-button color="warn" (click)="clearAll()">Clear All</button></span>
    </div>
  </div>

  <mat-list *ngIf="predictions && predictions.length">
    <!--<h3 mat-subheader>Files</h3>-->
    <mat-list-item *ngFor="let prediction of predictions">
      <mat-icon *ngIf="!prediction.loading" mat-list-icon class="clickable" (click)="runPrediction(prediction)">{{ prediction | predictionIcon }}</mat-icon>
      <mat-progress-spinner *ngIf="prediction.loading" matListAvatar [diameter]="20" color="primary" mode="indeterminate"></mat-progress-spinner>
      <!--<mat-icon mat-list-icon class="clickable" (click)="runPrediction(prediction)">{{prediction | predictionIcon}}</mat-icon>-->
      <h4 mat-line>{{ prediction.description }}</h4>
      <p *ngIf="prediction.prediction && !prediction.error" mat-line>{{ prediction.prediction | predictionText }}</p>
      <p *ngIf="prediction.error" mat-line>{{ prediction.error }}</p>
      <!--<span>{{ prediction | json }}</span>-->
      <span *ngIf="!prediction.isPlaying"><mat-icon mat-list-icon class="clickable" (click)="playAudio(prediction.description)">play_arrow</mat-icon></span>
      <span *ngIf="prediction.isPlaying"><mat-icon mat-list-icon>volume_up</mat-icon></span>
    </mat-list-item>
  </mat-list>

</div>
