<form [formGroup]="chatInput" fxLayout="column" class="full-width-form">
  <mat-form-field [hideRequiredMarker]="true">
    <textarea (keydown.enter)="send();false" matTextareaAutosize matInput placeholder="New Message" formControlName="newMessageControl" required></textarea>
    <mat-error *ngIf="!chatInput.controls.newMessageControl.valid">{{ chatInputMessage }}</mat-error>
  </mat-form-field>
</form>
