<div fxLayout fxLayoutAlign="center">
  <div fxFlex="0 1 400px"> <!-- starts at 350px; doesn't grow; shrinks if need to-->
    <div class="panel text-center">
      <div class="panel-header">
        Request Login Link
      </div>
      <div class="panel-body">
        <div class="text-muted text-sm margin-md-bottom margin-md-top">
          We'll send a login link right to your email
        </div>
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</div>
