<div fxLayout fxLayoutAlign="center">
  <div fxFlex="0 1 500px"> <!-- starts at 350px; doesn't grow; shrinks if need to-->
    <div class="panel-no-border">
      <div class="panel-header">

      </div>
      <div class="panel-body">

        <div fxLayout="row" fxLayoutAlign="center space-around">
          <app-scoreboard label="You" [results]="playerGuessResults"></app-scoreboard>
          <div class="flex-spacer"></div>
          <app-scoreboard label="CarbonOS" [results]="carbonGuessResults"></app-scoreboard>
        </div>

        <div *ngIf="showBeginPanel">
          <app-guess-game-begin (begin)="incrementFrame()" [ready]="!!gameFrames && gameFrames.length"></app-guess-game-begin>
        </div>

        <div *ngIf="!showEndPanel && !showBeginPanel">
          <app-guess-game-frame [frames]="gameFrames" [index]="currentFrame" (previous)="decrementFrame()" (next)="incrementFrame()"></app-guess-game-frame>
        </div>

        <div *ngIf="showEndPanel">
          <app-guess-game-end (restart)="restart()" [playerScore]="playerScore" [carbonScore]="carbonScore"></app-guess-game-end>
        </div>

      </div>
    </div>
  </div>
</div>
