<div @fadeInAnimation class="clickable" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" style="height:70vh;" (click)="navigateToAbout()">
  <div fxFlex="90px" fxFlex.lt-sm="180px" fxFlexAlign="center">
    <div class="text-72" id="title">
      <!--CarbonOS-->
      <img src="assets/carbon-os-with-subtext.png" height="150px" alt="CarbonOS">
    </div>
  </div>
  <!--<div fxFlex="90px" fxFlexAlign="start">-->
  <!--<div class="text-lg" id="subtitle">-->
  <!--turing test; by robots for humans-->
  <!--</div>-->
  <!--</div>-->
</div>
