<div class="page-centered-container text-center panel-no-border icon-center">
  <div class="panel-header">
    <!--<mat-icon>settings_voice</mat-icon>-->
    Machine Voice Turing Tests
  </div>

  <div class="panel-body">
    To request a demo, please contact <a class="text-link" href="mailto:rowland@carbonos.io">rowland@carbonos.io</a>
  </div>
</div>
