<!--this outer flex sticks the footer to the bottom if the content doesn't fill the page-->
<div fxLayout="column" style="max-width: 100%" class="mat-app-background height-100" id="app-component">
  <app-navbar [class.mat-elevation-z6]="true"></app-navbar>

  <div fxFlex="1">

    <!--this inner flex keeps everything inside the router outlet within 90% of the page view-->
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="10px" class="margin-md-top">
      <div fxFlex="92%">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>

  <app-footer></app-footer>
</div>
