@mixin navbar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-navbar {
    color: mat-color($primary, default-contrast);

    .docs-navbar {
      background: mat-color($primary);
    }
  }
}
