.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }
}

.navbar-logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}
