<nav class="navbar" fxLayout="row" fxLayoutAlign="center space-around">

  <!--<button mat-icon-button>-->
  <!--<mat-icon>fingerprint</mat-icon>-->
  <!--</button>-->

  <img src="assets/carbon-os-sm.png" alt="CarbonOS" height="40px" class="clickable" (click)="navigateToSplash()">

  <div class="flex-spacer"></div>

  <ng-container *ngIf="!userLoggedIn">
    <!--menu buttons on gt-xs screen-->
    <!--<button mat-raised-button color="accent" (click)="navigateToSignup()" fxHide.xs>-->
      <!--Sign Up-->
    <!--</button>-->
    &emsp;
    <button mat-button (click)="navigateToLogin()" fxHide.xs>
       Log In
    </button>

    <!--menu buttons on xs screen-->
    <button mat-icon-button [matMenuTriggerFor]="userMenu" fxHide.gt-xs>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <!--<button mat-menu-item (click)="navigateToSignup()">-->
        <!--<mat-icon>power_settings_new</mat-icon>-->
        <!--<span>Sign Up</span>-->
      <!--</button>-->
      <button mat-menu-item (click)="navigateToLogin()">
        <mat-icon>account_circle</mat-icon>
        <span>Log In</span>
      </button>
    </mat-menu>
  </ng-container>

  <ng-container *ngIf="userLoggedIn">
    <button mat-icon-button [matMenuTriggerFor]="navbarMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #navbarMenu="matMenu">
      <button mat-menu-item (click)="navigateToGuess()">
        <mat-icon>computer</mat-icon>
        <span>Demo</span>
      </button>
      <button mat-menu-item (click)="navigateToContact()">
        <mat-icon>contact_support</mat-icon>
        <span>Contact</span>
      </button>
      <!--<button mat-menu-item (click)="navigateToVoice()">-->
        <!--<mat-icon>settings_voice</mat-icon>-->
        <!--<span>Voice</span>-->
      <!--</button>-->
      <!--<button mat-menu-item (click)="navigateToLens()">-->
        <!--<mat-icon>remove_red_eye</mat-icon>-->
        <!--<span>Lens</span>-->
      <!--</button>-->
      <button mat-menu-item (click)="navigateToProfile()">
        <mat-icon>settings</mat-icon>
        <span>Account</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </ng-container>
</nav>
