@mixin psid-panel($theme, $muted, $border-radius, $margin-sizes, $text-sizes) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .panel {
    border: 1px solid $muted;
    border-radius: $border-radius;
    padding: map-get($margin-sizes, "md");
  }

  .panel-no-border {
    padding: map-get($margin-sizes, "md");
  }

  .panel-body {
    font-size: map-get($text-sizes, "md")
  }

  .panel-header {
    font-size: map-get($text-sizes, "lg");
    margin-bottom: map-get($margin-sizes, "md");
  }

  .panel-footer {
    font-size: map-get($text-sizes, "sm");
    margin-top: map-get($margin-sizes, "md");
  }

  .chip {
    border: 1px solid $muted;
    border-radius: $border-radius;
    padding: map-get($margin-sizes, "sm");
    vertical-align: middle;
  }

  .chip-primary {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
    border-radius: $border-radius;
    padding: map-get($margin-sizes, "sm");
    vertical-align: middle;
  }

  .chip-accent {
    background-color: mat-color($accent);
    color: mat-color($primary, default-contrast);
    border-radius: $border-radius;
    padding: map-get($margin-sizes, "sm");
    vertical-align: middle;
  }

  .chip-warn {
    background-color: mat-color($warn);
    color: mat-color($primary, default-contrast);
    border-radius: $border-radius;
    padding: map-get($margin-sizes, "sm");
    vertical-align: middle;
  }

  .height-100 {
    min-height: 100vh;
  }

  .height-70 {
    min-height: 70vh;
  }

  .height-50 {
    min-height: 50vh;
  }

  .height-30 {
    min-height: 30vh;
  }

  .height-10 {
    min-height: 10vh;
  }
}
