@mixin psid-text($theme, $muted, $text-sizes, $icon-sizes) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  // COLORS //
  .text-muted {
    color: $muted;
  }

  .text-primary {
    color: mat-color($primary);
  }

  .text-warn {
    color: mat-color($warn);
  }

  .text-accent {
    color: mat-color($accent);
  }

  // SIZES //
  .text-hg {
    font-size: map-get($text-sizes, "hg");
  }

  .text-xl {
    font-size: map-get($text-sizes, "xl");
  }

  .text-lg {
    font-size: map-get($text-sizes, "lg");
  }

  .text-md {
    font-size: map-get($text-sizes, "md");
  }

  .text-sm {
    font-size: map-get($text-sizes, "sm");
  }

  .text-xs {
    font-size: map-get($text-sizes, "xs");
  }

  .text-nn {
    font-size: map-get($text-sizes, "nn");
  }

  // ALIGN //
  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  // LINKS //
  .clickable:hover {
    cursor: pointer;
  }

  .text-link {
    color: mat-color($accent);
    text-decoration: none;
  }

  .text-link:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  // ICONS //
  .icon-xl {
    font-size: map-get($icon-sizes, "xl") !important;
    height: map-get($icon-sizes, "xl") !important;
    width: map-get($icon-sizes, "xl") !important;
    line-height: map-get($icon-sizes, "xl") !important;
  }

  .icon-lg {
    font-size: map-get($icon-sizes, "lg") !important;
    height: map-get($icon-sizes, "lg") !important;
    width: map-get($icon-sizes, "lg") !important;
    line-height: map-get($icon-sizes, "lg") !important;
  }

  .icon-md {
    font-size: map-get($icon-sizes, "md") !important;
    height: map-get($icon-sizes, "md") !important;
    width: map-get($icon-sizes, "md") !important;
    line-height: map-get($icon-sizes, "md") !important;
  }

  .icon-sm {
    font-size: map-get($icon-sizes, "sm") !important;
    height: map-get($icon-sizes, "sm") !important;
    width: map-get($icon-sizes, "sm") !important;
    line-height: map-get($icon-sizes, "sm") !important;
  }

  .icon-xs {
    font-size: map-get($icon-sizes, "xs") !important;
    height: map-get($icon-sizes, "xs") !important;
    width: map-get($icon-sizes, "xs") !important;
    line-height: map-get($icon-sizes, "xs") !important;
  }

  .icon-nn {
    font-size: map-get($icon-sizes, "nn") !important;
    height: map-get($icon-sizes, "nn") !important;
    width: map-get($icon-sizes, "nn") !important;
    line-height: map-get($icon-sizes, "nn") !important;
  }

  .icon-hg {
    font-size: map-get($icon-sizes, "hg") !important;
    height: map-get($icon-sizes, "hg") !important;
    width: map-get($icon-sizes, "hg") !important;
    line-height: map-get($icon-sizes, "hg") !important;
  }
}
