@mixin psid-forms($theme, $muted, $border-radius, $margin-sizes) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .full-width-form > * {
    width: 100%;
  }

  .form-box {
    border: 1px solid $muted;
    border-radius: $border-radius;
    padding: map-get($margin-sizes, "md");
    width: 400px;
  }
}
