@mixin psid-body($font-family, $margin-sizes, $fixed-height-sizes, $fixed-width-sizes) {

  body {
    font-family: $font-family;
    margin: 0;
  }

  .page-centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  // HUGE //
  .margin-hg {
    margin: map-get($margin-sizes, "hg");
  }

  // EXTRA LARGE //
  .margin-xl {
    margin: map-get($margin-sizes, "xl");
  }

  .margin-xl-bottom {
    margin-bottom: map-get($margin-sizes, "xl");
  }

  .margin-xl-top {
    margin-top: map-get($margin-sizes, "xl");
  }

  // LARGE //
  .margin-lg {
    margin: map-get($margin-sizes, "lg");
  }

  .margin-lg-bottom {
    margin-bottom: map-get($margin-sizes, "lg");
  }

  .margin-lg-top {
    margin-top: map-get($margin-sizes, "lg");
  }

  .margin-lg-left {
    margin-left: map-get($margin-sizes, "lg");
  }

  .margin-lg-right {
    margin-right: map-get($margin-sizes, "lg");
  }

  // MEDIUM //
  .margin-md {
    margin: map-get($margin-sizes, "md");
  }

  .margin-md-bottom {
    margin-bottom: map-get($margin-sizes, "md");
  }

  .margin-md-top {
    margin-top: map-get($margin-sizes, "md");
  }

  .margin-md-left {
    margin-left: map-get($margin-sizes, "md");
  }

  .margin-md-right {
    margin-right: map-get($margin-sizes, "md");
  }

  // SMALL //
  .margin-sm {
    margin: map-get($margin-sizes, "sm");
  }

  .margin-sm-bottom {
    margin-bottom: map-get($margin-sizes, "sm");
  }

  .margin-sm-top {
    margin-top: map-get($margin-sizes, "sm");
  }

  .margin-sm-left {
    margin-left: map-get($margin-sizes, "sm");
  }

  .margin-sm-right {
    margin-right: map-get($margin-sizes, "sm");
  }

  // EXTRA SMALL //
  .margin-xs {
    margin: map-get($margin-sizes, "xs");
  }

  .margin-xs-bottom {
    margin-bottom: map-get($margin-sizes, "xs");
  }

  .margin-xs-top {
    margin-top: map-get($margin-sizes, "xs");
  }

  // NANO  //
  .margin-nn {
    margin: map-get($margin-sizes, "nn");
  }

  // FIXED HEIGHT
  .fixed-height-hg {
    height: map-get($fixed-height-sizes, "hg")
  }

  .fixed-height-xl {
    height: map-get($fixed-height-sizes, "xl")
  }

  .fixed-height-lg {
    height: map-get($fixed-height-sizes, "lg")
  }

  .fixed-height-md {
    height: map-get($fixed-height-sizes, "md")
  }

  .fixed-height-sm {
    height: map-get($fixed-height-sizes, "sm")
  }

  .fixed-height-xs {
    height: map-get($fixed-height-sizes, "xs")
  }

  .fixed-height-nn {
    height: map-get($fixed-height-sizes, "nn")
  }

  // FIXED WIDTH
  .fixed-width-hg {
    width: map-get($fixed-width-sizes, "hg")
  }

  .fixed-width-xl {
    width: map-get($fixed-width-sizes, "xl")
  }

  .fixed-width-lg {
    width: map-get($fixed-width-sizes, "lg")
  }

  .fixed-width-md {
    width: map-get($fixed-width-sizes, "md")
  }

  .fixed-width-sm {
    width: map-get($fixed-width-sizes, "sm")
  }

  .fixed-width-xs {
    width: map-get($fixed-width-sizes, "xs")
  }

  .fixed-width-nn {
    width: map-get($fixed-width-sizes, "nn")
  }
}
