<div @fadeInAnimation fxLayout fxLayoutAlign="center" fxLayoutGap="20px" style="height:70vh;">

  <div fxFlex="400px" fxFlex.lt-md="0 1 400px">

    <div class="panel">
      <div class="panel-header">
        <img src="assets/carbon-os-sm.png" alt="CarbonOS" height="40px" (click)="navigateToSplash()" class="clickable">
      </div>

      <div class="panel-body">
        <div class="margin-md-top margin-md-bottom">
          We train deep learning models to do interesting things with automated speech.
        </div>

        <div class="margin-md-top margin-md-bottom">
          We're a diverse team based in Cambridge, MA. We found that machine voice is reaching an inflection point where
          artificially created voice is becoming indistinguishable from human voice.
        </div>

        <div class="margin-md-top margin-md-bottom">
          So we trained a deep neural network to help humans recognize when they are talking to a person or a machine.
        </div>

        <div class="margin-md-top margin-md-bottom">
          We empower our customers to stay ahead of rapid progress in synthetic speech.
        </div>

        <div class="text-center">
          <div class="margin-md-bottom">
            <button mat-button (click)="routeToContact()">Contact Us</button>
          </div>

          <div class="margin-md-bottom">
            <button mat-button (click)="routeToHome()">Check out the Demo!</button>
          </div>

          <div class="margin-md-bottom">
            <button mat-button (click)="routeToSignup()">Show Someone!</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
