<div class="text-center">
  <div class="margin-lg-bottom margin-lg-top text-md">
    <div *ngIf="!carbonGuessed || !playerGuessed">
      Robot or Human?
    </div>
    <div *ngIf="carbonGuessed && playerGuessed">
      {{ frame.file.description }}
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center space-around" class="margin-lg-bottom">
    <div (click)="goToPrevious()" class="clickable">
      <div>
        <mat-icon mat-list-icon class="icon-xl">chevron_left</mat-icon>
      </div>
      <div class="text-sm">
        Previous
      </div>
    </div>

    <div class="flex-spacer"></div>

    <div *ngIf="!isAudioPlaying">
      <mat-icon mat-list-icon class="clickable icon-hg" (click)="playAudio()">play_circle_outline</mat-icon>
    </div>
    <div *ngIf="isAudioPlaying">
      <mat-icon mat-list-icon class="icon-hg">volume_up</mat-icon>
    </div>

    <div class="flex-spacer"></div>

    <div *ngIf="showNextButton" class="clickable" (click)="goToNext()">
      <div>
        <mat-icon mat-list-icon class="icon-xl">chevron_right</mat-icon>
      </div>
      <div class="text-sm">
        Next
      </div>
    </div>

    <div *ngIf="!showNextButton" class="text-muted">
      <div>
        <mat-icon mat-list-icon class="icon-xl">chevron_right</mat-icon>
      </div>
      <div class="text-sm">
        Next
      </div>
    </div>
  </div>

  <div class="fixed-height-md">
    <div *ngIf="!playerGuessed" class="margin-md-bottom">
      <span class="margin-sm-right">
        <button mat-raised-button color="primary" (click)="playerGuess(0)">ROBOT</button>
      </span>
      <span class="margin-sm-left">
        <button mat-raised-button color="primary" (click)="playerGuess(1)">HUMAN</button>
      </span>
    </div>
    <div *ngIf="playerGuessed" class="margin-lg-bottom">
      <span class="text-muted text-md">
        <span>{{ frame.playerGuess === frame.file.classification ? 'Yes!' : 'Nope!' }}</span>
      </span>
    </div>
  </div>

  <!--<div *ngIf="!carbonGuessed" class="margin-lg-top">-->
  <!--<span class="text-muted">CarbonOS is listening...</span>-->
  <!--</div>-->

  <!--<div *ngIf="carbonGuessed && !playerGuessed" class="margin-lg-top">-->
  <!--<span class="text-muted">CarbonOS locked in</span>-->
  <!--</div>-->

</div>

<mat-list>

  <mat-list-item *ngIf="playerGuessed">
    <h4 mat-line class="text-muted" (click)="markForDeletion()">Your pick</h4>
    <span><button mat-raised-button color="primary" [ngStyle]="{'color': frame.playerGuess === frame.file.classification ? 'green' : 'red'}" disabled>{{ frame.playerGuess | classification }}</button></span>
  </mat-list-item>

  <mat-list-item *ngIf="!playerGuessed" (click)="markForDeletion()">
    <h4 mat-line class="text-muted">Your pick</h4>
    <span><button mat-raised-button color="primary" disabled>.  .  .</button></span>
  </mat-list-item>

  <mat-list-item *ngIf="carbonGuessed && playerGuessed">
    <h4 mat-line class="text-muted">CarbonOS pick</h4>
    <span><button mat-raised-button color="primary" [ngStyle]="{'color': frame.carbonGuess === frame.file.classification ? 'green' : 'red'}" disabled>{{ frame.carbonGuess | classification }}</button></span>
  </mat-list-item>

  <mat-list-item *ngIf="!carbonGuessed">
    <h4 mat-line class="text-muted">CarbonOS is listening</h4>
    <span><button mat-raised-button color="primary" disabled>.  .  .</button></span>
  </mat-list-item>

  <mat-list-item *ngIf="carbonGuessed && !playerGuessed">
    <h4 mat-line class="text-muted">CarbonOS pick</h4>
    <span><button mat-raised-button color="primary" disabled>SECRET</button></span>
  </mat-list-item>

  <mat-list-item *ngIf="carbonGuessed && playerGuessed">
    <h4 mat-line class="text-muted">Answer </h4>
    <span><button mat-raised-button color="primary" disabled>{{ frame.file.classification | classification }}</button></span>
  </mat-list-item>

  <mat-list-item *ngIf="!carbonGuessed || !playerGuessed">
    <h4 mat-line class="text-muted">Answer </h4>
    <span><button mat-raised-button color="primary" disabled>SECRET</button></span>
  </mat-list-item>

</mat-list>
