<div fxLayout fxLayoutAlign="center">
  <div fxFlex="0 1 400px"> <!-- starts at 350px; doesn't grow; shrinks if need to-->
    <div class="panel-no-border">
      <div class="panel-body text-center">
        <div class="decent-text-bottom">
          <span *ngIf="!error">Logging in...</span>
          <span *ngIf="error">Hmmmm... looks like that token is expired, perhaps it's from an old email? No matter, simply request a new one on the login page!</span>
        </div>
      </div>
    </div>
  </div>
</div>
