@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$axon-primary: mat-palette($mat-grey);
$axon-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$axon-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$axon-theme: mat-light-theme($axon-primary, $axon-accent, $axon-warn);

$axon-muted: mat-color($mat-grey, 500);
$axon-border-radius: 2px;
$axon-font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@import '../psid-styles/psid-functions';

$axon-margin-sizes: psid-sizes(200px, 100px, 50px, 20px, 10px, 5px, 2px);
$axon-fixed-height-sizes: psid-sizes(800px, 400px, 200px, 100px, 50px, 25px, 12px);
$axon-fixed-width-sizes: psid-sizes(1600px, 800px, 400px, 200px, 100px, 50px, 25px);
$axon-text-sizes: psid-sizes(72px, 40px, 24px, 16px, 12px, 10px, 9px);
$axon-icon-sizes: psid-sizes(72px, 40px, 24px, 16px, 12px, 10px, 9px);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($axon-theme);
