<div fxLayout="column" style="min-height:85vh; max-width: 100%">

  <div fxFlex="1">

    <!--this inner flex keeps everything inside the router outlet within 90% of the page view-->
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="10px" class="margin-md-top">
      <div fxFlex="92%" style="height:70vh;overflow-y:scroll" #scrollableHistory>
        <app-chat-history></app-chat-history>
      </div>
    </div>

  </div>

  <app-chat-input></app-chat-input>
</div>
