<div class="text-center">
  <p class="text-lg margin-sm-bottom margin-lg-top">
    <span *ngIf="lost">CarbonOS wins: {{ carbonScore }} - {{ playerScore }}</span>
    <span *ngIf="won">You win: {{ playerScore }} - {{ carbonScore }}</span>
    <span *ngIf="drew">Tie game: {{ playerScore }} - {{ carbonScore }}</span>
  </p>
  <p class="margin-lg-bottom text-muted">
    <span *ngIf="won">Good game! You beat our robot... most don't... are you sure you're human?</span>
    <span *ngIf="drew">Nice work! You kept pace with our robot!</span>
    <span *ngIf="lost">Maybe next time! Our robot does beat most humans...</span>
  </p>

  <p class="margin-lg-bottom">
    As artificial voice technology advances, so must our tools for keeping up.
  </p>

  <p class="margin-lg-bottom">
    CarbonOS uses the same deep learning technology that creates such realistic sounding speech to help humans determine whether they're talking to a robot or a human.
  </p>

  <div class="margin-lg-bottom">
    <span class="margin-sm-right"><button mat-button (click)="sendRestart()">Play Again</button></span>
    <span class="margin-sm-left"><button mat-button (click)="routeToContact()">Contact Us</button></span>
  </div>

  <div>
    <button *ngIf="!stats" (click)="loadHistoricalData()" mat-button>Show Historical Results</button>
  </div>

</div>

<mat-list *ngIf="stats">
  <h3 mat-subheader><span *ngIf="!request"><mat-icon class="clickable text-muted icon-md" (click)="refresh()">refresh</mat-icon></span>&emsp;Historical Results</h3>
  <mat-list-item>
    <h4 mat-line>CarbonOS batting average</h4>
    <span>{{ stats.carbonBattingAverage | number:'1.3-3' }}</span>
  </mat-list-item>
  <mat-list-item>
    <h4 mat-line>Human batting average</h4>
    <span>{{ stats.humanBattingAverage | number:'1.3-3' }}</span>
  </mat-list-item>
  <mat-list-item *ngIf="stats['rh'] && stats['rh'].length">
    <h4 mat-line>Robot most likely to trick a human</h4>
    <span></span>
    <span *ngIf="!playing.rh"><mat-icon mat-list-icon class="clickable" (click)="playAudio('rh')">play_arrow</mat-icon></span>
    <span *ngIf="playing.rh"><mat-icon mat-list-icon>volume_up</mat-icon></span>
  </mat-list-item>
  <mat-list-item *ngIf="stats['rr'] && stats['rr'].length">
    <h4 mat-line>Robot most likely to trick a robot</h4>
    <span *ngIf="!playing.rr"><mat-icon mat-list-icon class="clickable" (click)="playAudio('rr')">play_arrow</mat-icon></span>
    <span *ngIf="playing.rr"><mat-icon mat-list-icon>volume_up</mat-icon></span>
  </mat-list-item>
  <mat-list-item *ngIf="stats['hr'] && stats['hr'].length">
    <h4 mat-line>Human most likely to trick a robot</h4>
    <span *ngIf="!playing.hr"><mat-icon mat-list-icon class="clickable" (click)="playAudio('hr')">play_arrow</mat-icon></span>
    <span *ngIf="playing.hr"><mat-icon mat-list-icon>volume_up</mat-icon></span>
  </mat-list-item>
  <mat-list-item *ngIf="stats['hh'] && stats['hh'].length">
    <h4 mat-line>Human most likely to trick a human</h4>
    <span *ngIf="!playing.hh"><mat-icon mat-list-icon class="clickable" (click)="playAudio('hh')">play_arrow</mat-icon></span>
    <span *ngIf="playing.hh"><mat-icon mat-list-icon>volume_up</mat-icon></span>
  </mat-list-item>
</mat-list>
