<div fxLayout fxLayoutAlign="center">
  <div fxFlex="0 1 400px"> <!-- starts at 350px; doesn't grow; shrinks if need to-->
    <div class="panel">
      <div class="panel-header text-center">
        <div class="text-lg">Profile</div>
      </div>
      <div class="panel-body">
        <app-user-form></app-user-form>
      </div>
      <div class="panel-footer text-center">
        <button mat-button (click)="routeToUserSecurity()">Manage Security Settings</button>
      </div>
    </div>
  </div>
</div>
