<div class="text-center">
  <p class="margin-lg-bottom margin-lg-top text-lg">
    Let's play a game!
  </p>

  <p class="margin-md-bottom text-md">
    <span class="text-muted">We'll play you a recording of someone speaking, you tell us whether the voice is a</span> human <span
    class="text-muted">speaking or a</span> robot<span class="text-muted">.</span>
  </p>

  <p class="margin-md-bottom text-md">
    <span class="text-muted">CarbonOS AI is going to be playing too. It's pretty good.</span>
  </p>

  <p class="margin-md-bottom text-md">
    Listen carefully!
  </p>

  <button mat-raised-button [disabled]="!ready" (click)="sendBegin()">Begin</button>
  <p *ngIf="ready" class="text-sm text-muted">Turn your speakers up or put headphones on!</p>
  <p *ngIf="!ready" class="text-sm text-muted">Loading audio...</p>

</div>








