<div fxLayout fxLayoutAlign="center" fxLayoutGap="20px">

  <div class="panel" fxFlex="400px" fxFlex.lt-md="0 1 400px">
    <div class="panel-header text-center">
      <div class="text-md margin-lg-bottom">
        Know anyone who would find this cool? Invite them to come see!
      </div>
      <mat-icon>power_settings_new</mat-icon>
    </div>
    <app-signup-form submitLabel="Invite"></app-signup-form>
  </div>
</div>
