<footer class="footer">
  <div class="footer-list">
    <div class="footer-logo">
      <!--<img class="footer-angular-logo"
        src="../../../assets/img/homepage/angular-white-transparent.svg"
        alt="angular">-->
    </div>

    <!-- <a mat-button class="docs-button" routerLink="thanks" aria-label="Stat Exchange">
      <span>Thanks</span>
    </a> -->

    <div class="footer-copyright">
      <p>Created by CarbonOS | <a class="text-link" (click)="routeToContact()">Contact Us</a> | <a class="text-link" (click)="routeToTos()">Terms of Use</a> | <a class="text-link" (click)="routeToPrivacyPolicy()">Privacy Policy</a> | © 2018</p>
    </div>
  </div>
</footer>
