<div class="text-center margin-sm-bottom">
  {{ label }}
</div>
<div>
  <ng-container *ngFor="let result of results">
    <mat-icon class="icon-md" [ngStyle]="{'color':(result | scoreboardIcon:'color')}">
      {{ result | scoreboardIcon:'icon' }}
    </mat-icon>
  </ng-container>
</div>
