<div @fadeInAnimation fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" style="height:70vh;">
  <div fxFlex="90px" fxFlex.lt-sm="180px" fxFlexAlign="center" class="text-center">
    <div class="text-lg margin-lg-bottom">
      Four Oh Four
    </div>
    <div class="text-md text-muted">
      The page you are looking for is not here.
    </div>
  </div>
  <!--<div fxFlex="90px" fxFlexAlign="start">-->
  <!--<div class="text-lg" id="subtitle">-->
  <!--turing test; by robots for humans-->
  <!--</div>-->
  <!--</div>-->
</div>
