<form [formGroup]="passwordResetForm" fxLayout="column" class="full-width-form">

  <ng-container *ngIf="alreadyHasPassword">
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput placeholder="Existing Password" formControlName="oldPasswordControl" [type]="hidePassword ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="clickable">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      <mat-error *ngIf="!passwordResetForm.controls.oldPasswordControl.valid">{{ passwordErrorMessage }}</mat-error>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="!alreadyHasPassword">
    <div class="text-primary text-center margin-md-top">
      This is your first time setting a password.
    </div>
    <div class="text-primary text-center text-sm margin-md-top">
      Some people hate passwords. With that in mind, we built CarbonOS to work entirely without passwords. We can always email you a magic link to log in with, no
      password necessary!
    </div>
    <div class="text-primary text-center text-sm margin-md-top margin-md-bottom">
      But if you do prefer a password, feel free to set one here:
    </div>
  </ng-container>

  <mat-form-field [hideRequiredMarker]="true">
    <input matInput [placeholder]="alreadyHasPassword ? 'New Password' : 'Password'" formControlName="newPasswordControl" [type]="hidePassword ? 'password' : 'text'"
           required>
    <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="clickable">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
    <mat-error *ngIf="!passwordResetForm.controls.newPasswordControl.valid">{{ passwordErrorMessage }}</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="!passwordResetForm.valid" (click)="submit()">{{ alreadyHasPassword ? 'Change' : 'Set' }} Password</button>

  <div *ngIf="error" class="text-warn text-center text-sm margin-md-top">{{ error.message }}</div>
  <div *ngIf="displaySuccess" class="text-primary text-center text-sm margin-md-top">Password Updated!</div>
  <div *ngIf="!displaySuccess && !error" class="text-primary text-center text-sm margin-md-top margin-md-bottom"></div>
</form>
