<div fxLayout fxLayoutAlign="center">
  <div fxFlex="0 1 500px"> <!-- starts at 350px; doesn't grow; shrinks if need to-->
    <div class="panel-no-border text-center">
      <div class="panel-header">
        <img src="assets/carbon-os-sm.png" alt="CarbonOS" height="40px">
      </div>

      <div class="margin-md-top margin-md-bottom">
        Like what you see? Let's talk!
      </div>

      <div class="margin-md-top margin-md-bottom">
        Email <a href="mailto:rowland@carbonos.io" class="text-link">rowland@carbonos.io</a> and we'll be in touch!
      </div>


      <div class="panel-body">
        <div>We're a diverse team based in Cambridge, MA training deep learning classifiers to do interesting things with automated speech.</div>

        <div class="margin-md-top margin-md-bottom">
          If you haven't seen it, <a class="text-link" (click)="routeToHome()">check out the Demo!</a>
        </div>

        <div class="margin-md-top margin-md-bottom">
          If you know someone who would like this, <a class="text-link" (click)="routeToSignup()">invite them!</a>
        </div>

      </div>
    </div>
  </div>
</div>
