<div fxLayout fxLayoutAlign="center">
  <div fxFlex="0 1 400px"> <!-- starts at 350px; doesn't grow; shrinks if need to-->
    <div class="panel-no-border">
      <div class="panel-body text-center">
        <div class="decent-text-bottom">
          Coming shortly
        </div>
      </div>
    </div>
  </div>
</div>
