<form [formGroup]="signupForm" fxLayout="column" fxLayoutGap="10px" class="full-width-form">

  <mat-form-field [hideRequiredMarker]="true">

    <input matInput placeholder="Email" formControlName="emailControl" required id="email">

    <mat-error *ngIf="!signupForm.controls.emailControl.valid">{{ emailErrorMessage }}</mat-error>

  </mat-form-field>

  <!--<mat-form-field [hideRequiredMarker]="true">-->
    <!--<input matInput placeholder="Passphrase" formControlName="passwordControl" [type]="hidePassword ? 'password' : 'text'" required>-->
    <!--<mat-icon matSuffix (click)="hidePassword = !hidePassword" class="clickable">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>-->
    <!--<mat-error *ngIf="!signupForm.controls.passwordControl.valid">{{ passwordErrorMessage }}</mat-error>-->
  <!--</mat-form-field>-->
  <button mat-raised-button [disabled]="!signupForm.valid" (click)="submit()" id="submit">{{ submitLabel }}</button>
</form>
