<form [formGroup]="userForm" fxLayout="column" class="full-width-form">
  <mat-form-field [hideRequiredMarker]="true">
    <input matInput placeholder="First Name" formControlName="firstName" required>
  </mat-form-field>

  <mat-form-field [hideRequiredMarker]="true">
    <input matInput placeholder="Last Name" formControlName="lastName">
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="submit()">Save</button>
  <div *ngIf="error" class="text-warn text-center text-sm margin-md-top">{{ error.message }}</div>
  <div *ngIf="displaySuccess" class="text-primary text-center text-sm margin-md-top">Saved!</div>
  <div *ngIf="!displaySuccess && !error" class="text-primary text-center text-sm margin-md-top margin-md-bottom"></div>
</form>
